
body{
    background-color: darkgoldenrod;
}

#logo {
    position: relative;
    height: 40em;
    width: 30em;
}

#demo {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: #333;
    padding: 8px;
}