
body{
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

#logo {
    position: relative;
    height: 60px;
    width: 60px;
}

/* #demo {
    position: relative;
    width: 60em;
    height: 60em;
    background-color: #333;
    padding: 8px;
} */

#easeWrapper {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    border-right: 1px dashed #CCC;
    border-left: 1px dashed #CCC;
}

#adcontainer {
    /* parent flex */
    display: flex;
    flex-flow: row wrap;
    /* position on page */
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
    height: 10em;
    width: 30em;
    border-radius: 2px;
    background: linear-gradient(to bottom right, rgb(101, 145, 228), darkblue);
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

#adimg {
    /* flex child styling */
    order: 1;
}

#adsun {
    max-height: 10em;
    max-width: 10em;
    padding: 1px;
}

#textcontainer {
    /* flex child styling */
    order: 2;
    flex-grow: 2;
    float: right;
}

#text {
    position: relative;
    text-align: center;
    margin-top: 4em;
    color: whitesmoke;
}

#imgtag{
    text-align: center;
    margin-top: 20em;
}

#trippy {
    max-width: 50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}